.conway-board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-cell {
  height: 80px;
  width: 80px;
  border: 1px solid lightgray;
}

.board-cell.alive {
  background: #000;
}

.board-cell.dead {
  background: #fff;
}

.board-cell.clickable.alive:hover {
  cursor: pointer;
  background: #444;
}

.board-cell.clickable.dead:hover {
  cursor: pointer;
  background: #ddd;
}

.controls-right {
  float: right;
  display: flex;
}

.conway-app {
  padding: 10px;
}

.control-num-input {
  margin-right: 10px;
}

.control-num-input input {
  width: 50px;
}

.conway-ticks {
  margin: 10px 0;
}
